@font-face {
    font-family: 'ubuntu';
    src: url(./Fonts/Ubuntu-Regular.ttf);
}

* {
    font-family: 'ubuntu';
    text-decoration: none;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    background: rgba(22, 22, 22, 0.95);
}


nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-logo {
    width: auto;
}

.bar-btn {
    font-size: 25px;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
}

.nav-pages {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(0, 0, 0, .95);
    text-align: center;
    transition: all .5s;
    z-index: 501;
}

.nav-pages li {
    display: none;
    line-height: 30px;
    margin: 15px 0;
    transition: all .5s;

}

.nav-pages li a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
}


.nav-pages li a.active,.nav-pages li a:hover {
    color: rgb(50, 118, 182);
    transition: .3s;
}

#check {
    display: none;
}

#check:checked~.nav-pages {
    height: 100vh;
}

#check:checked~.nav-pages li {
    display: block;
}

.section {
    margin: 0;
    padding: 20px;
    background-color: #131415;
}

.section-art {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    background: radial-gradient(circle, rgba(9, 112, 244, 1) 0%, rgba(252, 70, 107, 1) 100%);
    padding: 20px;
    box-shadow: 1px 2px 7px black;
    border-radius: 15px;
}

.article {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    border-radius: 10px;

}

.section-art .article:hover {
    box-shadow: 0px 4px 13px 2px #242424;
    transition: all .5s;
    transform: scale(1.025);
}

.imagen-article {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.article h4 {
    color: #fff;
    font-size: 20px;
    padding: 10px 0 14px 10px;
    font-weight: 500;
    margin-top: -48px;
    background: rgba(9, 28, 78, 0.6);
    z-index: 500;
    position: relative;
}

.article p {
    color: rgb(107, 107, 107);
    margin: 0;
    padding: 0 20px 20px 20px;
}

.article a {
    width: 20%;
    color: #fff;
    font-size: 13px;
    padding: 10px;
    background: #000;
    margin: 10px 0 10px 10px;
    display: inline-block;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

.article a i {
    font-size: 17px;
    padding-left: 10px;
}

.cuerpo1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: rgb(0, 0, 0);
    margin: 0;
    padding: 30px;
}

.parrafo-cuerpo1 {
    color: #fff;
    width: 50%;
    padding: 30px;
}

.section2-parrafo2 {
    font-size: 20px;
}

.img-impresora {
    box-shadow: 0px 4px 13px 2px #182bdf93;
}

.cuerpo2 {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: #131415;
}

.titulo-ventajas1 {
    font-size: 350%;
    font-weight: bold;
    letter-spacing: -3px;
}

.parrafo-ventajas1 {
    padding-bottom: 70px;
    font-size: 25px;
}


.letras-gradient {
    background-image: linear-gradient(135deg, #6699FF 0%, #FF3366 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-decoration-break: clone;
    background-repeat: no-repeat;
}

.ventajas2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
}

.descripcion {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.descripcion i {
    font-size: 100px;
    color: #615f5f;
    color: linear-gradient(135deg, #6699FF 0%, #FF3366 100%);
}

.info {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pie1 {
    display: flex;
    justify-content: space-evenly;
    flex: 1 1 1;
    background-color: #000;
    color: #fff;
    line-height: 1.6;
}

.redes2 {
    display: flex;
    flex-direction: column;
}

.redes2 a {
    font-size: 25px;
    color: #615f5f;
    padding-right: 10px;
}

.columna3 li {
    list-style: none;
    color: #808080;
    padding-bottom: 25px;
}

.columna3 li i {
    padding-right: 20px;
    font-size: 20px;
}

.pie2 {
    display: flex;
    margin: 0%;
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding-left: 25px;
}

.pie2 p a {
    text-decoration: none;
    color: #615f5f;
    padding-left: 10px;
}

.pie2 p a:hover {
    color: #58aef5;
    transition: all 0.5s;
    transform: scale(1.15);
    display: inline-block;
}

.footer h2 {
    font-weight: 400;
}

.mapa {
    margin-top: 11px;
    box-shadow: 1px 2px 7px black;
    width: 100%;
}

/*SLIDER*/

.slider {
    background-color: #413f3f;
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}

.slider .slide {
    width: 75%;
    display: flex;
    align-items: center;
    text-align: center;
    padding-right: 35px;
}

.slider .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}


/*SLIDER*/

@media screen and (min-width: 768px) {
    .logo {
        margin-left: 50px;
    }

    nav {
        height: 100px;
    }

    .bar-btn {
        display: none;
    }

    .nav-pages {
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }

    .nav-pages li {
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }

    .nav-pages li a {
        font-size: 14px;
    }

}

@media (max-width: 1100px) {
    .section-art {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .article {
        width: 90%;
    }
}

@media (max-width: 750px) {
    .cuerpo1 {
        flex-direction: column;
    }

    .img-impresora {
        width: 90%;
    }
}

@media (max-width: 450px) {

    .section {
        margin: 0;
        padding: 20px;
    }

    .parrafo-cuerpo1 {
        width: 80%;
    }

    .ventajas2 {
        width: 95%;
        flex-direction: column;
    }

    .descripcion {
        width: 80%;
        padding-bottom: 70px;
    }

    .pie1 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .info, .redes2, .datos {
        width: 80%;
        padding-top: 50px;
    }

    .columna2 {
        display: flex;
        text-align: left;
        flex-direction: column;
    }

    .columna3 {
        display: flex;
        text-align: left;
        flex-direction: column;
    }

}