@font-face {
    font-family: 'ubuntu';
    src: url(./Fonts/Ubuntu-Regular.ttf);
}

* {
    font-family: 'ubuntu';
}

body {
    margin: 0;
}
header {
    color: #161616;
    background: rgba(22, 22, 22, 0.9);
    position: fixed;
    width: 100%;
    z-index: 900;
    box-shadow: 0 0 30px 0 #000;
}

.header-logo {
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #3b3b3b;
}

.navbar {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    padding-top: 5px;
}

.nav-pages {
    padding: 7px;
}

.pages {
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px 10px 10px 20px;
    font-size: 0.9em;
}
    .nav-pages a:hover {
        background-color: rgba(155, 155, 155, 0.1);
        transition: 0.5s background-color;
        color: rgb(94, 142, 197);
    }


/*Buscador*/

.search {
    padding-bottom: 6px;
}

.example {
    display: flex;
}

form.example input[type=text] {
    padding: 5px;
    font-size: 17px;
    border: 1px solid grey;
    border-radius: 7px 0 0 7px;
    float: right;
    width: 80%;
    background: #ffffff;
  }

  form.example button {
    float: left;
    width: 20%;
    padding: 5px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    border-radius: 0 7px 7px 0;
    cursor: pointer;
  }

  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

/*Buscador*/

.contenedor-redes {
    display: flex;
    flex-direction: column;
}

.correo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
}

.redes {
    display: flex;
    justify-content: space-around;
}

.section {
    margin: 0;
    padding: 20px;
    padding-top: 180px;
    background-color: #131415;
}

.section-art {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    background: radial-gradient(circle, rgba(9,112,244,1) 0%, rgba(252,70,107,1) 100%); 
    padding: 20px;
    box-shadow: 1px 2px 7px black;
    border-radius: 15px;
}

.article {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    border-radius: 10px;

}

    .section-art .article:hover {
        box-shadow: 0px 4px 13px 2px #242424;
        transition: all .5s;
        transform: scale(1.025); 
    }

.imagen-article {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.article h4 {
        color: #fff;
        font-size: 20px;
        padding: 10px 0 14px 10px;  
        font-weight: 500; 
        margin-top: -48px;  
        background: rgba(9, 28, 78, 0.6);  
        z-index: 500; 
        position: relative;       
}

.article p {
    color: rgb(107, 107, 107);
    margin: 0;
    padding: 0 20px 20px 20px;
}

.article a {
    width: 20%;
    color: #fff;
    font-size: 13px;
    padding: 10px;
    background: #000;
    margin: 10px 0 10px 10px;
    display: inline-block;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

.article a i {
    font-size: 17px;
    padding-left: 10px;
}

.cuerpo1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: rgb(0, 0, 0);
    margin: 0;
    padding: 30px;
}

.parrafo-cuerpo1 {
    color: #fff;
    width: 50%;
    padding: 30px;
}

.section2-parrafo2 {
    font-size: 20px;
}

.img-impresora {
    box-shadow: 0px 4px 13px 2px #182bdf93;
}

.cuerpo2 {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: #131415;
}

.titulo-ventajas1 {
    font-size: 350%;
    font-weight: bold;
    letter-spacing: -3px;
}

.parrafo-ventajas1 {
    padding-bottom: 70px;
    font-size: 25px;
}


.letras-gradient {
    background-image: linear-gradient(135deg, #6699FF 0%, #FF3366 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-decoration-break: clone;
    background-repeat: no-repeat;
}

.ventajas2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.descripcion {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.descripcion i {
    font-size: 100px;
    color: #615f5f;
    color: linear-gradient(135deg, #6699FF 0%, #FF3366 100%);
}

.info {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pie1 {
    display: flex;
    justify-content: space-evenly;
    flex: 1 1 1 ;
    background-color: #000;
    color: #fff;
    line-height: 1.6;
}

.redes2 {
    display: flex;
    flex-direction: column;
}
    .redes2 a {
        font-size: 25px;
        color: #615f5f;
        padding-right: 10px;  
    }

    .columna3 li {
        list-style: none;
        color: #808080;
        padding-bottom: 25px;
    }

    .columna3 li i {
        padding-right: 20px;
        font-size: 20px;
    }

    .pie2 {
        display: flex;
        margin: 0%;
        background-color: rgb(0, 0, 0);
        color: #fff;
        padding-left: 25px;
    }

    .pie2 p a {
        text-decoration: none;
        color: #615f5f;
        padding-left: 10px;
    }
    
    .pie2 p a:hover {
        color: #58aef5;
        transition: all 0.5s;
        transform: scale(1.15);
        display: inline-block;
    }

    .footer h2 {
        font-weight: 400;
    }

    .mapa{
        margin-top: 11px;
        box-shadow: 1px 2px 7px black;
        width: 100%;
    }  

/*SLIDER*/

.slider {
    background-color: #413f3f;
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}

.slider .slide {
    width: 75%;
    display: flex;
    align-items: center;
    text-align: center;
    padding-right: 35px;
}

.slider .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}


/*SLIDER*/

@media (max-width: 1100px) {
    .section-art {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    .article {
        width: 90%;
    }
}

@media (max-width: 750px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .cuerpo1 {
        flex-direction: column;
    }
    .img-impresora {
        width: 90%;
    }
}

@media (max-width: 450px) {
    .pages {
        display: flex;
        flex-direction: column;
    }
    .section {
        margin: 0;
        padding: 20px;
        padding-top: 320px;
    }
}